/*
 * @Author: yinian430 
 * @Date: 2020-07-09 17:11:03 
 * @Last Modified by: yinian430
 * @Last Modified time: 2021-07-15 14:55:17
 */

/**
  公共方法
*/

// @function px2rem($px, $base-font-size: 37.5) {
//   @return ($px/$base-font-size)*1rem
// }
@import './mixin.scss';
//公共样式

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::before,
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
  position: relative;
  top: 4px;
  display: none;
}


//form表单label两端对齐

.el-form-item__label {
  text-align: justify;

  &::after {
    display: inline-block;
    width: 1px;
    height: 0;
    overflow: hidden;
    content: '';
  }
}

//输入框样式

.el-input-group__prepend {
  background-color: $mainColor7;
  border: none;
}

.el-input__inner:focus {
  border: 1px solid $mainColor3;
}

.el-textarea__inner:focus {
  color: $mainColor3;
  border: 1px solid $mainColor3;
}

.el-input__inner {
  height: 30px;
  line-height: 30px;
}

.el-input__icon {
  line-height: 30px;
}
// 搜索框样式

.search-area {

  .el-input__inner {
    height: 40px;
    line-height: 40px;
  }

  .el-input__icon {
    line-height: 40px;
  }
}

//单选框样式

.el-radio__input.is-checked .el-radio__inner {
  background: $mainColor3;
  border-color: $mainColor3;
}

/* .el-radio__input.is-checked+.el-radio__label{
    color: $mainColor3;
} */

//日期选择器样式

.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: $mainColor3;
}

.el-date-table td.today span, .el-date-table td.available:hover {
  color: $mainColor3;
}

.el-date-table td.current:not(.disabled) span {
  background-color: $mainColor3;
}

//多选框样式

.el-input-group--prepend .el-input__inner,
.el-input-group__append {
  background-color: $mainColor7;
  border: none;
}

//文本域样式

.el-textarea__inner {
  padding: 5px 10px;
}


//弹窗样式

.el-popper {
  z-index: 10000 !important;
}

.el-dialog__wrapper {
  z-index: 6001 !important;
}
//一些表单样式

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .el-form-item__label {
    @include text($fz16, $textColor3, 21px, 400);
    height: 21px;
    padding-right: 0;
    margin-right: 20px;
    text-align: justify;
  }

  .el-form-item__label::after {
    display: inline-block;
    width: 100%;
    content: "";
  }

  .el-form-item.is-required .el-form-item__label::before {
    content: none !important;
  }

  .el-form-item__content {
    position: relative;
    width: calc(100%);
    margin: 0 !important;
    @include text($fz16, $textColor3, 21px, 400);

    .tip {
      @include text($fz14, #D11C1C, 19px, 400);
      position: absolute;
      top: -17px;
      left: 0;
    }
  }

  .el-input__inner {
    @include text($fz14, $textColor3, 21px, 400);
    height: 21px;
    padding: 0 10px;
    background-color: $mainColor7;
    border: none;
    border-bottom: 1px solid #B5B5B5;
    border-radius: 0;
    outline: none;
    box-shadow: inset 0 0 0 1000px $mainColor7 !important;
  }
}


//表格样式

.el-table__header {
  width: 100% !important;
}

.el-table__body {
  width: 100% !important;
  border-spacing: 0 12px;
  border-collapse: separate;
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf{
  border: 0;
}

.el-table__inner-wrapper::before{
  content: none;
}

.el-table .cell.el-tooltip {
  width: 100% !important;
}

.el-table{
  background-color: transparent;
}

.el-table thead {
  font-size: 16px;
  line-height: 42px;
  color: $textColor3;

  tr{
    background-color: transparent;
  }
}

.el-table--enable-row-hover .el-table__body tr:hover> td.el-table__cell{
  background-color: $mainColor7;
}


.el-table__row > td:first-child {
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.el-table__row > td:last-child {
  -moz-border-radius: 0 4px 4px 0;
  border-radius:  0 4px 4px 0;
}

.el-table__row{
  height: 64px;

  &:hover{
    background-color: $mainColor7;

    @apply shadow-md cursor-pointer
  }
}

.el-table::before {
  height: 0;
}

.el-table th.el-table__cell{
  background-color: transparent;
}

.el-table__header-wrapper tr th.el-table-fixed-column--left,
.el-table__header-wrapper tr th.el-table-fixed-column--right{
  background-color: #F5F6F7;
}

.el-table__header-wrapper tr th.el-table-fixed-column--left::before,
.el-table__header-wrapper tr th.el-table-fixed-column--right::before,{
  content: none !important;
}

.el-table__empty-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.table-head{
  font-family: AlibabaPuHuiTi-Regular,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $textColor3;
  letter-spacing: 1px;
  .table-popover{
    display: flex;
  }
}
.table-tooltip span{
  color: black;
}
.table-icon{
  margin-right: 10px;

  .be-icon{
    cursor: pointer;
    fill:$textColor12;

    &:hover{
      fill:$mainColor3;
    }
  }
}

.el-table .ascending .sort-caret.ascending{
  border-bottom-color:$mainColor3
}

.el-table .descending .sort-caret.descending{
  border-top-color:$mainColor3
}

.table-tag{
  height: auto;
  margin-right: 10px;
  color: $mainColor3;
  background-color: $mainColor16;
  border:0;

  &:hover{
    color: $mainColor3;
    background-color: $mainColor16-025;
  }

  .ellipsis-copy{
    min-width: initial !important;
  }
}

//多选框样式

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $mainColor3;
  border-color: $mainColor3;
}

.el-checkbox__inner:hover {
  border-color: $mainColor3;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $mainColor3;
}



//下拉样式

.el-select .el-input.is-focus .el-input__inner {
  border-color: $mainColor3 !important;
}

.el-select-dropdown__item.selected {
  color: $mainColor3;
}

.el-select .el-input__inner:focus{
  border-color: $mainColor3 !important;
}

.el-select-v2__wrapper{
  height: 40px;
  border-radius: 2px;
}

.el-select-v2__wrapper.is-focused{
  border-color: $mainColor3;
}



//droopdown样式

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  color: $mainColor3;
}

.active-dropdown {
  color: $mainColor3;
  background-color: #ecf5ff;
}




.el-tooltip__popper {
  z-index: 10001 !important;
}

.el-tooltip__popper.is-light {
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, .26);
}

.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
  border-right-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow::after {
  border-right-color: #FFF;

}

.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
  border-top-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow::after {
  border-top-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
  border-left-color: #FFF;
}

.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow::after {
  border-left-color: #FFF;
}

.el-select-dropdown {
  z-index: 10001 !important;
}

// 内容提示窗

.el-tooltip__popper.input-content {
  height: 260px;
  padding-right: 20px;

  &.small {
    height: 100px;
  }

  &.middle {
    height: 160px;
  }

  &.large {
    height: 260px;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__thumb {
    background: rgba(255, 255, 255, .6);
  }
}

.tooltip-content-item {
  line-height: 20px;
}

.el-scrollbar.content-area {
  width: calc(100% + 17px);
}


.el-message {
  top: 72px !important;
  z-index: 10002 !important;
  box-shadow: 0 0 13px rgba(0, 0, 0, .16);
}

//多选框样式

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $mainColor3;
}

// 修改下拉选项显示不全

.el-select-dropdown .el-scrollbar__wrap {
  overflow-x: scroll;
}

// 单选按钮文字样式

.el-radio__input.is-checked + .el-radio__label {
  color: #000;
}

// 修改input 卡槽样式

.el-input__suffix {
  display: flex;
  align-items: center;
}

// tab 激活样式

.el-tabs__item.is-active {
  color: $mainColor3;
}

.el-tabs__active-bar {
  background-color: $mainColor3;
}

.el-tabs__item:hover {
  color: $mainColor3;
}

.reg-start {
  margin-left: 3px;
  color: $lessColor4;
  vertical-align: bottom;
}
//暂无数据

.empty-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $textColor5;
}

.eagle-btn {
  box-sizing: border-box;
  min-width: 120px;
  padding: 0 10px;
  color: $mainColor7;
  background: linear-gradient(90deg, #0DE3B2 0%, #008EE9 100%);
  opacity: 1;

  &:hover,&:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    opacity: .8;
  }

}

.search-btn{
  width: 184px;
  height: 52px;
  line-height: 52px;

  span{
    font-size: 18px;
  }

  &:hover,&:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    opacity: 1;
  }
}

.eagle-cancel-btn{
  min-width: 120px;
  margin-right: 16px;
  color: $textColor12;
  background: $mainColor7;
  border: 1px solid $textColor12;

  &:hover,&:focus{
    color: $mainColor3;
    background: $mainColor7;
    border: 1px solid $mainColor3;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  }
}

.eagle-table{

  .table-page {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 60px;

    .table-page-info {
      font-size: 14px;
      color: $textColor4;
    }
  }
}
.be-popover--trigger{
  display: inline-block;
  vertical-align: middle;
  height: 20px;

}
//分页样式

.be-pager li{
  width: 32px;
  height: 32px;
  color: #606266;
  background-color: transparent;
  border-radius: 2px;

  .be-icon-container {

    .be-icon{
      width: 14px;
      height: 14px;

      use{
        fill:#606266 ;
      }
    }
  }
}

.be-pager li:hover{
  color: $mainColor3;
  border: 1px solid $mainColor3;

  .be-icon-container use{
    fill:$mainColor3 !important;
  }
}

.be-pager li.active{
  font-weight: bold;
  color: $mainColor3;
  background-color: $mainColor7;
}

.be-pager-container .be-select .be-select-body.be-pager-select{
  width: 8rem;
  height: 30px;
  line-height: 30px;

  .be-select-input__medium{
    height: 28px;
    color: #606266;
  }
}

.be-select .be-select-body:hover{
  border: 1px solid $mainColor3;
}

.be-select .be-select-body.be-select-body__focus{
  border: 1px solid $mainColor3;
  box-shadow: 0 0 0 2px $mainColor16-025;
}

.be-select-option-body .be-select-option-container .be-select-option__choice{
  color: $mainColor3;
}

.be-header {
  padding: 0;
}
// 通用的页面样式

.eagle-page{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-bottom: 86px;
}
@media screen and (min-width: 1536px) and (max-width: 1830px) {

  .el-table td, .el-table th {
    padding: 10px 0;
    font-size: 13px
  }
}

@media screen and (min-width: 1326px) and (max-width: 1478px) {

  .el-table td, .el-table th {
    padding: 8px 0;
    font-size: 12px
  }
}

@media screen and (min-width: 1280px)  and (max-width: 1326px) {

  .el-table td, .el-table th {
    padding: 6px 0;
    font-size: 12px
  }
}