@font-face {
  font-family: AlibabaPuHuiTi-Regular;
  src: url('../font/Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
  font-family: AlibabaPuHuiTi-Medium;
  src: url('../font/Alibaba-PuHuiTi-Medium.ttf');
}