.theme--dark{

  .tsgz-nav-menu{
    background-color: $textColor3;

    /* .expend-logo{
            background-image: url('src/assets/image/pc/logo-dark.png');
        } */
  }

  .tsgz-footer{
    background-color: $textColor3;
  }

  #login_dialog .login-dialog{
    background-image: url('src/assets/image/pc/login-bg-dark.png');
  }

  .login-main .login-body .login-title .login-title-big,
  .login-main .login-body .login-input-class .login-input-title
    {
    color:$mainColor7
  }
}