/*
 * @Author: yinian430 
 * @Date: 2020-07-09 17:11:42 
 * @Last Modified by: yinian430
 * @Last Modified time: 2020-12-16 10:30:07
 */

/**
  变量
*/

$mainColor1: #213850;
$mainColor2: #ecf3f9;
$mainColor3: #1CD2A9;
$mainColor3-h: #0ED9AC;
$mainColor6: rgba(0, 0, 0, .02);
$mainColor7: #FFF;
$mainColor7-06: rgba(255,255,255, .6);
$mainColor10: #ecf5ff;
$mainColor11: #0F0F10;
$mainColor14:#BABABA;
$mainColor14-025:rgba(0, 0, 0, .08);;
$mainColor15:#1496F2;
$mainColor16:rgba(133, 229, 191, .1);
$mainColor16-025:rgba(133, 229, 191, .25);
$mainColor17:#F7F8F9;
$mainColor18:#F5F8FB;
$mainColor19: #F3BA2F;
$mainColor20:#15263A;
$mainColor21: #7C9AAA;
$mainColor22: #F5F8FB;
$mainColor23: #F9F5EC;
$mainColor23: #F9F5EC;
$mainColor24: #52C41A;


$lessColor3: #1496F2;
$lessColor4: #F04735;
$lessColor4-025: rgba(240, 71, 53, 0.25);
$textColor1: #333333;
$textColor2: #8A96A3;
$textColor3: #18304E;
$textColor4: #777;
$textColor5: #A5A5A5;
$textColor7: #A7C7D6;
$textColor8: #9BC8DF;
$textColor9: #DFE4EA;
$textColor11: #000;
$textColor12: #888;
$textColor13: #7C9AAA;

$fz16: 16px;
$fz14: 14px;
