/*
 * @Author: yinian430 
 * @Date: 2020-07-09 17:11:42 
 * @Last Modified by: yinian430
 * @Last Modified time: 2020-12-16 10:30:07
 */

/**
  变量
*/
$mainColor1: #111B3D;
$mainColor2: #2C4290;
$mainColor3: #0468C2;
$mainColor3-08:rgba(4, 104, 194, .8);
$mainColor4: #6A7DC4;
$mainColor5: #B5BFDF;
$mainColor6: rgba(0, 0, 0, 0.02);
$mainColor7: #FFFFFF;
$mainColor8: rgba(0, 0, 0, 0.06);
$mainColor9: #f2f4f5;
$mainColor10: #ecf5ff;
$mainColor11: #0F0F10;
$mainColor12: rgba(0, 0, 0, 0.09);
$mainColor13: #E6F2FF;
$mainColor14:#BABABA;
$mainColor15:#1496F2;


$lessColor3: #1496F2;
$lessColor4: #E54747;
$lessColor5: #E059A5;
$lessColor6: #E6F7FF;
$lessColor7: #73D13D;
$lessColor8: #B3DBFF;
$lessColor9: #F7B500;

$textColor1: #2C4290;
$textColor2: #4F62A7;
$textColor3: #333333;
$textColor4: #777777;
$textColor5: #A5A5A5;
$textColor6: #FFFFFF;
$textColor7: #0D354A;
$textColor8: #9BC8DF;
$textColor9: #DFE4EA;
$textColor10: #666666;
$textColor11: #000000;
$textColor12: #9A9A9A;


$fz20: 20px;
$fz18: 18px;
$fz16: 16px;
$fz14: 14px;
$fz12: 12px;

$t_b: 34px;
$l_r: 30px;
$p_b: 25px;

$boxWidth: 1120px;